version: "3.9"

services:
  db:
    env_file:
      - .env
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

  backend:
    env_file:
      - .env
    build: ./backend  # This uses the single Dockerfile for both web and worker
    command: ["/app/entrypoint.sh"]  # Start both Django and Celery worker (for the future)
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}

      OPENAI_API_KEY: ${OPENAI_API_KEY}  


      USE_S3: ${USE_S3}
      AWS_STORAGE_BUCKET_NAME: ${AWS_STORAGE_BUCKET_NAME}
      AWS_S3_REGION_NAME: ${AWS_S3_REGION_NAME}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    depends_on:
      - db
      - redis

  # Commenting out Celery Worker and Beat for now (will use in future if needed)
  # celery_worker:
  #   env_file:
  #     - .env
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile  # Use the worker Dockerfile if we want to run a separate worker
  #   command: celery -A core worker -l info
  #   volumes:
  #     - ./backend:/app
  #   environment:
  #     DB_NAME: ${POSTGRES_DB}
  #     DB_USER: ${POSTGRES_USER}
  #     DB_PASSWORD: ${POSTGRES_PASSWORD}
  #     DB_HOST: ${POSTGRES_HOST}
  #     DB_PORT: ${POSTGRES_PORT}
  #     CELERY_BROKER_URL: ${CELERY_BROKER_URL}
  #     CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}
  #   depends_on:
  #     - db
  #     - redis

  # celery_beat:
  #   env_file:
  #     - .env
  #   build: ./backend
  #   command: celery -A core beat -l info
  #   volumes:
  #     - ./backend:/app
  #   environment:
  #     DB_NAME: ${POSTGRES_DB}
  #     DB_USER: ${POSTGRES_USER}
  #     DB_PASSWORD: ${POSTGRES_PASSWORD}
  #     DB_HOST: ${POSTGRES_HOST}
  #     DB_PORT: ${POSTGRES_PORT}
  #     CELERY_BROKER_URL: ${CELERY_BROKER_URL}
  #     CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}
  #   depends_on:
  #     - db
  #     - redis

  frontend:
    build: ./frontend
    command: sh -lc "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  postgres_data:
  redis_data:
  frontend_node_modules:
  hf_cache:
